/* some style */
html {
  background: url("beige-tiles.png");
}

body {
  // color: #BBB !important;
}

.collections {
  overflow: hidden;
  background: white;

  transition: all 130ms ease-in;

  ul.scores {
    overflow: hidden;
    // transition: all 130ms ease-in;
  }

  .scores-div {
    // transition: all 230ms ease-in-out;
  }

  // li {
  //   list-style: none;
  //   padding: 5px;

  //   a {
  //     text-decoration: none;
  //     display: block;
  //     height: 100px;
  //     width: 100%;
  //     background: #BBB;
  //     text-align: center;
  //     vertical-align: middle;
  //     line-height: 100px;
  //   }
  // }
}

.paper-transition {
  transition: all 0.3s ease-out
}

.MuiGrid-root {
  transition: flex 0.3s ease-out
}

.right-button {
  margin-left: 5px;
}

.score {
  transform-origin: top center;
  transition: all 0.30s ease-in-out;
}

.score-enter {
  opacity: 0;
  transform: scaleY(0);
}

.score-exit {
  opacity: 1;
  transform: scaleY(1)
}

.score-exit-active {
  opacity: 0;
  transform: scaleY(0);
}

.score-enter-active {
  opacity: 1;
  transform: scaleY(1)
}

// CSS Transition Example
// .foo-enter {
//   height: 0;
//   transition: height 0.27s ease-out;
// }

// .foo-exit {
//   height: 2em;
// }

// .foo-exit-active {
//   height: 0;
//   transition: height 0.27s ease-out;
// }

// .foo-enter-active {
//   height: 2em;
//   opacity: 1;
// }