/* some style */
html {
  // background: url("beige-tiles.png");
}

.input.full-width {
  width: 100%;
}

.autosuggest-test {
  height: 250px;
  flex-grow: 1;

  .react-autosuggest__container {
    position: relative;
    display: block;
  }

  .input {
    // position: relative
  }

  .container-open {

    position: absolute;
    z-index: 1;
    margin-top: 15px;
    left: 0;
    right: 0;

    &>ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
      }

    }
  }

  .suggestion-render {
    display: block;

  }
}

// Card component
#root>div>div {
  display: inline-block;
}

body {
  // color: #BBB !important;
}

.collections {
  overflow: hidden;
  background: white;

  transition: all 130ms ease-in;

  ul.scores {
    overflow: hidden;
    // transition: all 130ms ease-in;
  }

  .scores-div {
    // transition: all 230ms ease-in-out;
  }

  // li {
  //   list-style: none;
  //   padding: 5px;

  //   a {
  //     text-decoration: none;
  //     display: block;
  //     height: 100px;
  //     width: 100%;
  //     background: #BBB;
  //     text-align: center;
  //     vertical-align: middle;
  //     line-height: 100px;
  //   }
  // }
}

.add-score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.paper-transition {
  transition: all 0.3s ease-out
}

.MuiGrid-root {
  transition: flex 0.3s ease-out
}

.right-button {
  margin-left: 5px;
}

.score {
  transform-origin: top center;
  transition: all 0.30s ease-in-out;
}

.score-enter {
  opacity: 0;
  transform: scaleY(0);
}

.score-exit {
  opacity: 1;
  transform: scaleY(1)
}

.score-exit-active {
  opacity: 0;
  transform: scaleY(0);
}

.score-enter-active {
  opacity: 1;
  transform: scaleY(1)
}

// CSS Transition Example
// .foo-enter {
//   height: 0;
//   transition: height 0.27s ease-out;
// }

// .foo-exit {
//   height: 2em;
// }

// .foo-exit-active {
//   height: 0;
//   transition: height 0.27s ease-out;
// }

// .foo-enter-active {
//   height: 2em;
//   opacity: 1;
// }