/* some style */
html {
  background: url("beige-tiles.png");
}
.autosuggest_test {
  height: 250;
  flex-grow: 1;
}
.autosuggest_test .input {
  position: relative;
}
.collections {
  overflow: hidden;
  background: white;
  transition: all 130ms ease-in;
}
.collections ul.scores {
  overflow: hidden;
}
.add-score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.paper-transition {
  transition: all 0.3s ease-out;
}
.MuiGrid-root {
  transition: flex 0.3s ease-out;
}
.right-button {
  margin-left: 5px;
}
.score {
  transform-origin: top center;
  transition: all 0.3s ease-in-out;
}
.score-enter {
  opacity: 0;
  transform: scaleY(0);
}
.score-exit {
  opacity: 1;
  transform: scaleY(1);
}
.score-exit-active {
  opacity: 0;
  transform: scaleY(0);
}
.score-enter-active {
  opacity: 1;
  transform: scaleY(1);
}
