/* some style */
body {
  margin: 0;
}
.score-modal {
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.collapse-icon {
  transition: transform 3s ease-in-out;
  margin-top: 15px;
  margin-left: 10px;
  transform-origin: center center;
}
.collapse-icon.open {
  transform: rotate(90deg);
}
.header {
  position: relative;
  min-height: 400px;
  background: linear-gradient(rgba(63, 81, 181, 0.9), rgba(63, 81, 181, 0.9)), url('header.jpg');
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;
  margin-bottom: 64px;
}
.header .add-collection-fab {
  position: absolute!important;
  bottom: -28px;
  right: 10%;
}
@media screen and (min-width: 1600px) {
  .header .add-collection-fab {
    right: 20%;
  }
}
.header h1 {
  color: white;
}
.header .search-suggest {
  margin: 0 auto;
  width: 75%;
  position: relative;
}
.header .search-suggest div[role=listbox] {
  position: absolute;
  width: 100%;
}
.header .search {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 16px;
  width: 100%;
}
.header .search:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
.header .search .search-input {
  padding: 8px 8px 8px 32px;
  width: 100%;
  color: inherit;
}
.header .search .searchIcon {
  width: 24px;
  height: 100%;
  left: 5px;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pull-right {
  margin-left: auto!important;
}
.input.full-width {
  width: 100%;
}
div[inline-block] {
  display: inline-block;
}
ul.scores {
  display: flex;
  justify-content: space-evenly;
  padding: 32px 0;
  clear: both;
}
.loading-score {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.score-view {
  display: inline-block;
  position: relative;
}
.score-view .score-content {
  min-height: 150px;
  max-height: 200px;
  min-width: 250px;
  max-width: 300px;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.score-view .score-content .username {
  word-break: break-all;
}
.score-view .score-content .score-info-item {
  display: inline-flex;
  align-items: center;
}
.score-view .score-content .score-info-item > svg {
  font-size: inherit;
  padding-right: 8px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear-both {
  clear: both;
}
.collection {
  width: 100%;
}
.autosuggest {
  flex-grow: 1;
  padding: 32px;
  margin-top: 64px;
}
.autosuggest .react-autosuggest__container {
  position: relative;
  display: block;
}
.autosuggest .container-open {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  left: 0;
  right: 0;
}
.autosuggest .container-open > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.autosuggest .container-open > ul li {
  display: block;
}
.autosuggest .suggestion-render {
  display: block;
}
#root > div > div {
  display: inline-block;
}
.collections {
  overflow: hidden;
  background: white;
  transition: all 130ms ease-in;
}
.collections ul.scores {
  overflow: hidden;
}
.score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 32px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) !important;
  text-align: justify;
}
.add-score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) !important;
}
.paper-transition {
  transition: all 0.3s ease-out;
}
.MuiGrid-root {
  transition: flex 0.3s ease-out;
}
.right-button {
  margin-left: 5px;
}
.score {
  transform-origin: top center;
  transition: all 0.3s ease-in-out;
}
.score-enter {
  opacity: 0;
  transform: scaleY(0);
}
.score-exit {
  opacity: 1;
  transform: scaleY(1);
}
.score-exit-active {
  opacity: 0;
  transform: scaleY(0);
}
.score-enter-active {
  opacity: 1;
  transform: scaleY(1);
}
